<?xml version="1.0" encoding="UTF-8"?>
<graphml xmlns="http://graphml.graphdrawing.org/xmlns"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://graphml.graphdrawing.org/xmlns
     http://graphml.graphdrawing.org/xmlns/1.0/graphml.xsd">
  <graph id="G" edgedefault="directed">


    <!-- Nodes -->

<%=
Enum.map(nodes, fn
  {:foreign_source, _} ->
    ""

  {:native, uri} ->
    """
        <node id="n#{uri.host}">
          <desc>#{uri.host}</desc>
        </node>
    """

  {:translation, uri} ->
    """
        <node id="#{uri}">
          <desc>#{uri}</desc>
        </node>
    """
end)
%>

    <!-- Edges -->

<%=
Enum.map(edges,
  fn %{src: {stype, s}, tgt: {_, t}} ->
    headlabel = "#{t.port}/#{t.scheme}"

    cond do
      stype == :foreign_source ->
        ""

      stype == :translation ->
        """
            <edge source="#{s}" target="n#{t.host}" headlabel="#{headlabel}"/>
        """

      true ->
        """
            <edge source="n#{s.host}" target="n#{t.host}" headlabel="#{headlabel}"/>
        """
    end
  end
)
%>
  </graph>
</graphml>
