digraph G {
  graph [
    layout="neato"
    overlap=false
    fontname="sans bold"
    labelloc=t
    labeljust=left
    outputorder=edgesfirst
  ];

  node [
    shape=circle
    style=filled
    penwidth=2
    colorscheme=purples7
    color=6
    fillcolor=2
    fontname="sans bold"
    fontsize=10
    fontcolor=7
  ];

  edge [
    dir=both
    len=5
    weight=1
    arrowtail=inv
    penwidth=4
    colorscheme=purples7
    color="6;0.1 : 5;0.1 : 4;0.1 : 5;0.1 : 6;0.2 : 5;0.1 : 4;0.1 : 5;0.1 : 6;0.1"
    labelfontname="sans bold"
    labelfontsize=8
    labelfontcolor=black
    labelfloat=true
    labeldistance=2
  ];

  // Nodes
<%=
Enum.map(nodes, fn
  {:foreign_source, _} ->
    ""

  {:native, uri} ->
    """
      "#{uri.host}";
    """

  {:translation, uri} ->
    """
      "#{uri}" [colorscheme="greys7"];
    """
end)
%>

  // Edges
<%=
Enum.map(edges,
  fn %{src: {stype, s}, tgt: {_, t}} ->
    headlabel = "#{t.port}/#{t.scheme}"

    cond do
      stype == :foreign_source ->
        ""

      stype == :translation ->
        """
          "#{s}" -> "#{t.host}" [headlabel="#{headlabel}"];
        """

      true ->
        """
          "#{s.host}" -> "#{t.host}" [headlabel="#{headlabel}"];
        """
    end
  end
)
%>
}
